---
title: Validate an OBA Server
layout: page
---

<p>
    Once you have deployed OneBusAway, you can validate that the server is working correctly by ensuring that data is appearing as shown in the following video.
</p>

<iframe width="654" height="368" src="https://www.youtube.com/embed/4pRzbBANhWk" title="How to Test That Your OneBusAway Server Works" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>