---
layout: page
title: Downloading the Software
---

<div class="space-y-4">
  <h2>
    Hang on a second!
  </h2>

  <p>
    Before you download the software, consider whether you should be using a prebuilt Docker image
    instead of the raw software. The Docker image is easier to install and maintain.
  </p>

  <p>
    You can find more information about our Docker images on the <a href="/guides/deployment">Deployment page</a>.
  </p>

  <h2>Newest Versions</h2>

  <p>
    The newest versions of the OneBusAway software is available for download from
    <a href="https://central.sonatype.com/search?q=org.onebusaway">Maven Central</a>.
  </p>

  <p>The newest versions all have the suffix <code>-otsf</code>.</p>

  <h2>Unsupported, Older Versions</h2>
  <p>Older binaries can be downloaded from the Cambridge Systematics Maven repository:</p>

  <ul class='list-disc ml-4'>
    <% site.data.application_modules.each do |k,v| %>
    <li class='ml-8x'>
      <%= k %>
      <% if v['description'] %>
      - <%= v['description'] %>
      <% end %>
      <ul class='list-disc ml-4'>
        <% v['downloads'].each do |url| %>
          <li>
            <a href="<%= url.gsub('{{OBA_VERSION}}', site.metadata['oba_version']) -%>">
              <%= url.split('/').last.gsub('{{OBA_VERSION}}', site.metadata['oba_version']) %>
            </a>
          </li>
        <% end %>
      </ul>
    </li>
    <% end %>
  </ul>
</div>