/* dark_mode_code for code view */
.dark div.jsoneditor {
  @apply border-zinc-600 border-[2px];

}

.dark div.jsoneditor-menu {
  @apply bg-zinc-950 border-[#ffffff33];
}

.dark .ace-jsoneditor .ace_scroller {
  @apply bg-zinc-900;
}

.dark .ace-jsoneditor .ace_marker-layer .ace_active-line {
  @apply bg-zinc-700;
}

.dark .ace_gutter-cell {
  @apply text-white;
}

.dark .ace-jsoneditor .ace_gutter-active-line {
  @apply bg-zinc-950 bg-opacity-80;
}

.dark .ace-jsoneditor .ace_marker-layer .ace_selection {
  @apply bg-green-400 bg-opacity-30
}

.dark .ace_mobile-menu {
  @apply bg-blue-300;
}

.dark div.ace_gutter {
  @apply bg-zinc-800;
}

.dark .ace_variable {
  @apply text-white;
}

.dark .ace_constant.ace_numeric {
  @apply text-blue-400;
}

.dark span.ace_string.ace_string {
  @apply text-green-500;
}

.dark .jsoneditor-statusbar {
  @apply bg-zinc-800 border-zinc-600;
}
