/* If you need to add @import statements, do so up here */

@import "jit-refresh.css"; /* triggers frontend rebuilds */

@layer base {
  :root {
    --shiki-color-text: theme('colors.white');
    --shiki-token-constant: theme('colors.emerald.300');
    --shiki-token-string: theme('colors.emerald.300');
    --shiki-token-comment: theme('colors.zinc.500');
    --shiki-token-keyword: theme('colors.sky.300');
    --shiki-token-parameter: theme('colors.pink.300');
    --shiki-token-function: theme('colors.violet.300');
    --shiki-token-string-expression: theme('colors.emerald.300');
    --shiki-token-punctuation: theme('colors.zinc.200');
  }

  [inert] ::-webkit-scrollbar {
    display: none;
  }
}

/* Set up Tailwind imports */
@tailwind base;
@tailwind components;

.prose :where(p):not(:where([class~=not-prose], [class~=not-prose] *)) {
    @apply my-1;
}

button.DocSearch.DocSearch-Button {
  @apply h-8 w-full items-center gap-2 rounded-full bg-white pl-2 pr-3 text-sm text-zinc-500 ring-1 ring-zinc-900/10;
  @apply transition hover:ring-zinc-900/20 lg:flex dark:bg-white/5 dark:text-zinc-400 dark:ring-inset dark:ring-white/10 dark:hover:ring-white/20;

}

#oba-docs-search-container--mobile button.DocSearch-Button {
  margin: 0;
}

.DocSearch-Search-Icon {
  @apply !h-5 !w-5;
}

.DocSearch-Button-Placeholder {
  @apply !text-sm !text-zinc-400 dark:text-zinc-500;
}

.DocSearch-Button-Keys {
  @apply ml-auto text-2xs text-zinc-400 dark:text-zinc-500 inline-block text-right;

}

.DocSearch-Button-Key {
  background: none;
  box-shadow: none;
  @apply font-sans m-0 p-0 w-auto inline-block;
}

pre.highlight {
  background-color: transparent!important;
  padding: 0!important;
}

@tailwind utilities;
