<nav class="lg:p-6  pt-8 lg:pt-0 lg:w-auto lg:block fixed lg:static top-0 z-10 bg-white dark:bg-zinc-900 transition-[width,padding,margin] duration-500 max-w-[600px]"
     :class="{ 'w-full  p-6 pr-0 ': nav_open, 'w-0 p-0 overflow-hidden': !nav_open }">

  <ul role="list" class='max-h-[100svh] pb-12 lg:pb-0 overflow-y-scroll lg:max-h-fit lg:overflow-auto'>
    <li class="relative mt-10 ml-0 mr-5 lg:hidden">
      <div id="oba-docs-search-container--mobile"></div>
    </li>
    <%= render(NavigationSection.new(
      "Home",
      children: {
        "Home" => '/',
        "About" => '/about',
        "Features" => '/features',
        "Downloads" => '/downloads',
        "Getting Help" => '/getting-help',
        # "Release Notes" => '/release-notes' # April 2024: wildly out of date. hiding until we can fix that.
      },
      current_path: resource.relative_url
    )) %>

    <%= render(NavigationSection.new(
      "Guides",
      children: {
        "Deployment" => '/guides/deployment',
        "Outdated Guides" => '/guides/outdated'
      },
      current_path: resource.relative_url
    )) %>

    <%= render(NavigationSection.new(
      "Javadocs",
      children: {
        "onebusaway-gtfs-modules" => '/modules/onebusaway-gtfs-modules/current/'
      },
      current_path: resource.relative_url
    )) %>

    <%= render(NavigationSection.new(
      "REST API",
      children: {
        "About the REST API" => '/api/where',
        "API Methods" => '/api/where/methods',
        "API Elements" => '/api/where/elements',
        "Search" => '/api/where/search',
      },
      current_path: resource.relative_url
    )) %>
  </ul>
</nav>