<a aria-label="Home" href="/" class="flex gap-x-2">
  <div class="flex-none">
    <img src="/images/oba-logo.png" alt="" class="h-8 lg:h-16 rounded-md">
  </div>
  <div class="flex-1 self-center lg:text-xl font-semibold leading-tight dark:text-zinc-50">
    OneBusAway Developers
  </div>
</a>