<li class="relative mt-6">
  <h2 class="text-xs font-semibold text-zinc-900 dark:text-white">
    <%= @title %>
  </h2>

  <div class="relative mt-3 pl-2">
    <div class="absolute inset-y-0 left-2 w-px bg-zinc-900/10 dark:bg-white/5"></div>
    <div class="absolute left-2 h-6 w-px bg-emerald-500" style="top:4px;opacity:1"></div>

    <ul role="list" class="border-l border-transparent">
      <% @children.each do |k,v| %>
        <li class="relative">
          <a class="flex justify-between gap-2 py-1 pr-3 text-sm transition pl-4 text-zinc-600 hover:text-zinc-900 dark:text-zinc-400 dark:hover:text-white" href="<%= v -%>">
            <span class="truncate"><%= k %></span>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</li>
