<li class="relative mt-6">
  <h2 class="text-xs font-semibold text-zinc-900 dark:text-white">
    <%= @title %>
  </h2>

  <div class="relative mt-3 pl-2">

    <ul role="list">
      <% @children.each do |k,v| %>
        <li class="relative border-l <% if equal_paths(v, @current_path) %>border-emerald-500<% else %>border-transparent<% end %>">
          <a class="flex justify-between gap-2 py-1 pr-3 text-sm transition pl-4 text-zinc-600 hover:text-zinc-900 dark:text-zinc-400 dark:hover:text-white" href="<%= v -%>">
            <span class="truncate"><%= k %></span>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</li>
